---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Layout>
			<Hero />
		</Layout>
	</body>
</html>
